body {
  background-color: #151823 !important;
}

.staking {
  display: flex;
  margin-top: 3%;
  margin-left: 0% !important;
  margin-right: auto;
  height: auto;
  width: auto;
}

.stakingRoot {
  display: flex;
  width: 100%;
}

.stakingRootMobile {
  display: flex;
  width: 100%;
  margin-left: 28%;
}

.staking-sidebar {
  height: 100%;
}

.staking-content {
  height: 100%;
  width: 100%;
  margin-left: 6%;
  text-align: left;
}

.staking-title {
  margin-bottom: 1% !important;
}

.staking-subtitle {
  margin-bottom: 3% !important;
}

.staking-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.staking-green-stripe-mobile {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.staking-red-stripe {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.staking-red-stripe-mobile {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.cardContainer {
  display: flex;
  margin-bottom: 5%;
}

.cardContainerMobile {
  display: block;
  margin-bottom: 5%;
}

.cardContainer > * {
  display: block;
  margin-right: 5% !important;
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.whiteInput {
  input {
    color: rgba(255, 255, 255, 1) !important;
  }
  div {
    width: 95% !important;
    margin-left: 2% !important;
  }

  fieldset {
    border-color: white !important;
  }
}
