body {
  background-color: #151823 !important;
}

.staking {
  display: flex;
}

.stakingRoot {
  display: flex;
}

.stakingRootMobile {
  display: flex;
}

.staking-content {
  text-align: left;

  .staking-icon-container {
    display: flex;
    align-items: center;

    .staking-icon-tooltip {
      margin-left: 400%;
    }
  }
  .mobile-staking-icon-container {
    display: flex;
    align-items: center;
    width: 80%;

    .staking-icon-tooltip {
      margin-left: 150%;
      margin-top: 10% !important;
    }
  }
}

.iconContainer {
  margin: 5% 0;
}

.staking-success-container {
  border: 1px solid #05cf69;
  padding: 5%;
  margin-top: 5%;

  .title {
    color: #05cf69 !important;
    margin: 2% !important;
  }

  .lock-container {
    display: flex;
    margin-bottom: 1%;
    align-items: flex-start;
    justify-content: center;

    .lock-container-text {
      margin-left: 2%;
      margin-bottom: 5%;
    }
  }
}

.staking-success-button {
  margin-top: 5% !important;
}

.staking-error-button {
  margin-top: 5% !important;
  background-color: #31364b !important;
  border: 1px solid #6a7085 !important;
}

.staking-title {
  margin-bottom: 1% !important;
}

.staking-subtitle {
  margin-bottom: 3% !important;
}

.mobile-staking-subtitle {
  margin: 3% 0 !important;
  width: 80%;
}

.staking-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.staking-green-stripe-mobile {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.staking-red-stripe {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.staking-red-stripe-mobile {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  margin: 8% 0;
  width: 100%;
}

.cardContainer {
  display: flex;
  margin-bottom: 5%;
}

.cardContainerMobile {
  display: block;
  margin-bottom: 5%;
}

.cardContainer > * {
  display: block;
  margin-right: 5% !important;
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.whiteInput {
  input {
    color: rgba(255, 255, 255, 1) !important;
  }
  div {
    width: 95% !important;
    margin-left: 2% !important;
  }

  fieldset {
    border-color: white !important;
  }
}

.top-data-header {
  display: flex;
  margin-bottom: 2%;
}

.top-data-table {
  display: table;

  tr {
    align-content: center;
    justify-content: center;
  }
}
