body {
  background-color: #151823 !important;
}

.claim {
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

.claim-mobile {
  display: flex;
  margin-top: 3%;
  margin-left: 7%;
  height: auto;
  width: auto;
}

.claim-sidebar {
  height: 100%;
}

.claim-content {
  height: 100%;
  width: 100%;
  margin-left: 6%;
  text-align: left;
}

.claim-title {
  margin-bottom: 1% !important;
}

.mobile-claim-title {
  margin: 5% 0;
  width: 90%;
}

.claim-subtitle {
  margin-bottom: 3% !important;
}

.mobile-claim-subtitle {
  margin: 5% 0 !important;
  width: 80%;
}

.claim-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.claim-red-stripe {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.cardContainer {
  display: flex;
  margin-bottom: 5%;
}

.MobileCardContainer {
  display: block;
  margin-bottom: 5%;
}

.MobileCardContainer > * {
  display: block;
  margin-right: 5% !important;
}

.cardContainer > * {
  display: block;
  margin-right: 5% !important;
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.whiteInput {
  input {
    color: rgba(255, 255, 255, 1) !important;
  }
  div {
    width: 95% !important;
    margin-left: 2% !important;
  }

  fieldset {
    border-color: white !important;
  }
}
