body {
  background-color: #151823 !important;
}

.buttonsContainer {
  display: grid;
  width: 90%;
  margin-left: 2%;
  margin-top: 5%;
}

.claim {
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

.claim-sidebar {
  height: 100%;
}

.claim-content {
  height: 100%;
  width: 100%;
  margin-left: 6%;
  text-align: left;
}

.claim-title {
  margin-bottom: 1% !important;
}

.claim-subtitle {
  margin-bottom: 3% !important;
}

.claim-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.claim-red-stripe {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.cardContainer {
  display: flex;
  margin-bottom: 5%;
}

.cardContainer > * {
  display: block;
  margin-right: 5% !important;
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.whiteInput {
  input {
    color: rgba(255, 255, 255, 1) !important;
  }
  div {
    width: 95% !important;
    margin-left: 2% !important;
  }

  fieldset {
    border-color: white !important;
  }
}

.noContent {
  margin-top: 30% !important;
}

.contentGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 15% !important;

  .gridLeft {
    grid-column: 1;
  }

  .gridRight {
    grid-column: 2;
  }

  .profileContentTitle {
    margin-bottom: 10% !important;
  }
}
