body {
  background-color: #151823 !important;
}

.buttonsContainer {
  display: grid;
  width: 90%;
  margin-left: 2%;
  margin-top: 5%;
}

.profile {
  display: flex;
}

.mobile-profile {
  display: flex;
}

.formInputContainer {
  display: flex;
  align-items: baseline;
  margin-bottom: 3%;
}

.verticalFormContainer {
  align-items: baseline;
  margin-bottom: 3%;
}

.profileEditButton {
  float: right;
}

.profile-inputLabel {
  width: 100px;
}

.profileInput {
  margin-left: 15% !important;
  border-bottom: 1px solid #878ca4 !important;
  width: 65% !important;
  margin-bottom: 0% !important;
  input {
    margin-bottom: 0% !important;
    border: none !important;
    background-color: #151823 !important;
  }
}

.profileDisabledInput {
  margin-left: 15%;
  border-bottom: 1px solid #878ca4;
  width: 65%;
}

#buttonsContainer {
  margin: 6% 0 3% 0;

  button {
    width: 20% !important;
    margin-right: 3% !important;
  }

  #grayButton {
    background-color: #31364b;
    color: white;
  }
}

.profile-content {
  text-align: left;
  width: 100%;
}

.profile-title {
  margin-bottom: 1% !important;
}

.mobile-profile-title {
  margin-bottom: 10% !important;
}

.profile-subtitle {
  margin-bottom: 3% !important;
}

.profile-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.profile-red-stripe {
  border-left: 3px solid #ff515a;
  padding-left: 2%;
  width: 100%;
}

.cardContainer {
  display: flex;
  margin-bottom: 5%;
}

.cardContainer > * {
  display: block;
  margin-right: 5% !important;
}

.cardContainer .MuiPaper-root {
  padding: 2%;
}

.cardContainer .buttonsContainer {
  margin: 0 auto;
}

.mobileCardContainer {
  display: block;
  margin-bottom: 5%;
}

.mobileCardContainer > * {
  display: block;
  margin-right: 5% !important;
}

.chip {
  margin-right: 3% !important;
  color: white !important;
  background-color: #282c3e !important;
}

.chipSelected {
  margin-right: 3% !important;
  color: white !important;
  background-color: #15ac5b !important;
}

.whiteInput {
  input {
    color: rgba(255, 255, 255, 1) !important;
  }
  div {
    width: 95% !important;
    margin-left: 2% !important;
  }

  fieldset {
    border-color: white !important;
  }
}

.noContent {
  margin-top: 30% !important;
}

.contentGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 15% !important;

  .gridLeft {
    grid-column: 1;
  }

  .gridRight {
    grid-column: 2;
  }

  .profileContentTitle {
    margin-bottom: 10% !important;
  }
}

.kycTopContainer {
  text-align: center;
}

.decimalUL {
  list-style-type: decimal;
  color: #878ca4;
}

.checkboxContainer {
  display: flex;
  text-align: left;
  margin-top: 5%;
  align-items: center;
}
