body {
  background-color: #151823 !important;
}

.home {
  display: flex;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

.home-mobile {
  display: flex;
  margin-top: 3%;
  margin-left: 17%;
  height: auto;
  width: auto;
}

.home-sidebar {
  height: 100%;
}

.home-content {
  height: 100%;
  width: 100%;
  text-align: left;
}

.home-title {
  margin-bottom: 1% !important;
}

.home-subtitle {
  margin-bottom: 3% !important;
}

.toggleButton {
  margin: 5% 0 5% 0;
}

.home-green-stripe {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
}

.home-green-stripe-mobile {
  border-left: 3px solid #15ac5b;
  padding-left: 2%;
  width: 100%;
  margin: 5% 0 10% 0;
}

.cardContainer {
  display: flex;
  margin-bottom: 5%;
}

.cardContainer > * {
  display: block;
  margin-right: 5% !important;
}
