.home,
.home-mobile {
  display: flex;

  .home-content {
    text-align: left;
    flex-grow: 1;

    .cardContainer {
      display: flex;
      margin-top: 30px;
      margin-bottom: 54px;
    }

    & > .cardContainer:last-child {
      display: flex;
      margin-bottom: 0;
    }

    .cardContainer > div {
      margin-right: 16px;
    }

    .cardContainer > div:last-child {
      margin-right: 0;
    }
  }
}

.home-mobile {
  .home-content {

    .toggleButton {
      margin-bottom: 40px;
    }

    .cardContainer > div {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}