#signinModal {
  width: 30% !important;
  padding: 2% !important;
  text-align: center;

  .marginButton {
    margin: 2% 0;
    height: 52px;
  }

  #noAccountLabel {
    margin: 3% 0;
  }

  #forgotPasswordLabel {
    float: right;
    margin-bottom: 5%;
    cursor: pointer;
  }

  .greyButton {
    background-color: #31364b;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .bubbleButton {
    width: 45%;
    background-color: #282c3e;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
  }

  #bubbleButtonLeft {
    margin-right: 10%;
  }
}

#mobile-signinModal {
  width: 80% !important;
  padding: 2% !important;
  text-align: center;

  .marginButton {
    margin: 2% 0;
    height: 52px;
  }

  #noAccountLabel {
    margin: 3% 0;
  }

  #forgotPasswordLabel {
    float: right;
    margin-bottom: 5%;
    cursor: pointer;
  }

  .greyButton {
    background-color: #31364b;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .bubbleButton {
    width: 45%;
    background-color: #282c3e;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
  }

  #bubbleButtonLeft {
    margin-right: 10%;
  }
}

#walletContainer {
  background-color: #31364b;
  color: #878ca4;
  height: max-content !important;
  padding: 2% !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 25px !important;

  svg {
    margin-right: 1% !important;
  }

  .walletIcon {
    height: 10px;
    width: 15px;
    background-color: #15ac5b;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;
  }
}

#profileButton {
  margin-bottom: 5%;
}

.signUpSuccessfullTitle {
  margin-bottom: 13% !important;
}

.checkboxContainer {
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: -3%;

  .link {
    color: #15ac5b !important;
    text-decoration: none !important;
  }
}
