.sidebar {
  height: 100%;
}

.mobileButtons {
  width: 100%;
  padding: 5% 0 5% 0 !important;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#mobileWalletContainer {
  background-color: #31364b;
  color: #878ca4;
  height: max-content !important;
  padding: 2% !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 25px !important;
  width: 80%;
  margin: 5% 0 0 10%;

  svg {
    margin-right: 1% !important;
  }

  .walletIcon {
    height: 10px;
    width: 15px;
    background-color: #15ac5b;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2%;
  }
}

#mobileNoWalletContainer {
  background-color: #31364b;
  height: max-content !important;
  padding: 0% 10% 0% 10% !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 25px !important;
  width: 80%;
  margin: 5% 0 0 10%;
}
